<!DOCTYPE html>
<html>
<head>
<title>Bio Data</title>
</head>
<body>
<style>
html,body{
    background-image: url('../static/images/SM.gif');
    margin: 0%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
}

</style>
<!-- <div class="img1">
    <img src="{{url_for('static',filename = 'images/SM.gif')}}">
</div> -->
<h1 style="text-align: center;">Our Data</h1>
<form action="/edit" method="post" style="text-align: center;"> 
    <label >Name</label>
    <input type="text" value="{{b}}" name="name"><br><br>
    <label >Emp</label>&nbsp;  
    <input type="text" value="{{c}}" name="employee"><br><br>
    <label >Team </label>&nbsp; 
    <input type="text" value="{{d}}" name="team"><br><br>

    <button>UPDATE</button>
    {{update}}
</form>
<form action="/img" method="post">
    <input type="submit" value="Back" >
</form>
</body>
</html>
