<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>

    </head>
        <body>
          <input type="text" id="val"/><br>
            <button onclick="data()">add</button>
            <select id="lselect" >  
                <option value="default">sureshkumar</option>
            </select>
            
            
            <script >
                function data()
                {
                  var n=document.getElementById("lselect");
                  var n1=document.getElementById("val").value;
                  var n2=document.createElement("option");
                  var n3=document.createTextNode(n1);
                  n2.appendChild(n3);
                  n2.setAttribute("value",n1);
                  n.insertBefore(n2,n.lastChild);   
                }
              

        // function select()
        // {
            
        //     var d=document.getElementById("lselect");
        //     var dis=d.options[d.selectedIndex].text;
        //     document.getElementById("val").value=dis;
        // }
            </script>
        </body>
</html>